.form-alerts__container {
	position: relative;
	display: flex;

	input {
		position: relative;
	}

	.is-invalid {
		&.ng-touched{
			border: 2px solid red;
			border-radius: 5px;

			& ~ span {

				position: absolute;
				right: 14px;
				border-radius: 50%;
				box-shadow: 0 0 20px #ffd2d2;
				transform: translateY(-50%);
				top: 50%;

				&::before {
					content: "\1f453\fe0e";
					font-weight: bold;
					font-size: 24px;
					right: 19px;
					color: rgba(255, 0, 0, 0.31);
					padding: 2px;
					border-radius: 50%;
					right: 19px;
					display: flex;
					align-items: center;
					top: 4px;
					justify-content: flex-end;
				}
			}
		}
	}
}

.alert {
	&.alert-danger {

		&:hover:before{
			-ms-transition: all 500ms ease-out;
			transition: all 500ms ease-out;
			background-color: #efc5c8;
		}

		margin-top: 0.5rem;

		&::before {
			-ms-transition: all 500ms ease-out;
			transition: all 500ms ease-out;
			content: "👆︎";
			position: absolute;
			top: -7px;
			border: 1px solid #f5c2c7;
			background: #f8d7da;
			text-align: center;
			height: 28px;
			border-radius: 50%;
			width: 28px;
			left: 0.75rem;
			z-index: 100;
			font-size: 17px;
			font-weight: bold;
		}
	}
}
